.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui.menu .item:before {
  width: 0px !important;
}
.ui.inverted.top.fixed.menu {
  height: 7%;
  font-size: 20px;
  background-color: #04173f;
}
/* @media only screen and (min-width: 768px) {
  .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)
    > .container
    > .item:not(.right):not(.borderless):first-child {
    border-left: 0px !important;
  }
} */
/* @media screen and (max-width: 767px) {
  img.ui.image {
    margin-left:95px;
}
}
@media screen and (min-width: 767px) {
  img.ui.image {
    padding-left:25px;
}
} */
.box {
  padding-left: 20px;
  width: 95% ;
  height: 100% ;
  background-color: #353c4b;
  position: relative;
  color: white;
}
.cityname {
  font-size: 30px;
  color: white;
  display:table;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  position: relative;
}
.ui.five.buttons {
  height: 100px !important;
}
a.header.item {
  left: -120px;
}
.bgcolor {
  background-color: rgba(50, 115, 220, 0.048);
  min-height:525px;
}
/* @media screen and (max-width: 767px) {
  .smallsrc{
    width: 100%;
    height:60%
  }
} */
.new1{

  padding-top: 15%;
  position: relative;
}
.Divider{
  min-width: 10px !important;
}
/* .logo{
  height: 300px;
  width: 100px;
} */
img.ui.image {
  margin-left: 86px;
}